/* ===================== Скидання стилів ================== */
@import url(reset.css);

/* ======================= Шрифты ========================= */
@import url("https://fonts.googleapis.com/css?family=Inter:regular,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:regular,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cormorant+Infant:regular,700&display=swap");

@import url(fonts.css);

body {
    width: 1440px;
}

p {
    font-family: "Inter";
    font-size: 18px;
    font-weight: 400;
    line-height: 1.47;
    color: #7d7d7d;
}

/* ================ макет Licencing ================ */

.licensing {
    width: 1218px;
    margin: 150px auto;
}

.Information {
    text-align: center;
}

h1 {
    font-family: "Poppins";
    font-size: 60px;
    font-weight: 700;
    line-height: 1;
    color: #37393f;
}


