@import url(reset.css);

/* ==================== Шрифти ==================== */
@import url(founts/fonts__causten.css);
@import url(founts/fonts__CoreSansC.css);

body {
    width: 1440px;
    height: 100%;
}

p {
    font-family: "Causten";
    font-size: 18px;
    font-weight: 500;
    color: #807D7E;
}

/* ==================== header ==================== */

body {
    width: 1440px;
}

header {
    height: 108px;
    padding: 31px 101px;
}

.main-menu {
    width: 1237px;
    height: 45px;
    font-size: 0;
}

.main-menu__logo {
    display: inline-block;
    margin-right: 87px;
    vertical-align: top;
}

.main-menu__name {
    display: inline-block;
    margin-right: 75px;
    padding: 11px 0;
    vertical-align: top;
}

.main-menu__name li {
    display: inline-block;
}

.main-menu__name p:hover {
    background-color: #8A33FD;
    color: black;
    text-decoration: underline;
}

.main-menu__name p {
    font-size: 22px;
}

.main-menu__name li:not(:last-child) {
    margin-right: 40px;
}

.main-menu__link--fatty-text p {
    font-weight: 700;
    color: #3C4242;
}

.main-menu__search-box {
    width: 267px;
    padding: 12px 20px;
    background-color: #f6f6f6;
    border-radius: 8px;
    display: inline-block;
    margin-right: 75px;
}

.main-menu__search-box img {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 12px;
}

input {
    width: 193px;
    background-color: #f6f6f6;
    vertical-align: bottom;
    font-size: 16px;
}

.main-menu__box {
    width: 156px;
    height: 44px;
    display: inline-block;
}

.main-menu__button{
    width: 44px;
    height: 44px;
    padding: 12px;
    background-color: #f6f6f6;
    display: inline-block;
}

.main-menu__button:not(:last-child) {
    margin-right: 12px;
}

.main-menu__button:hover {
    background-color: #8A33FD;
}

.main-menu__button img {
    width: 20px;
    height: 20px;
}

/* ==================== main ==================== */
/* ------------------- saitbar ------------------ */

.upper-part {
    font-size: 0;
}

.upper-part__saitbar {
    width: 214px;
    height: 785px;
    background-color: #f6f6f6;
    display: inline-block;
}

.upper-part__image-scroll {
    width: 76px;
    height: 336px;
    padding: 224px 34px 224px 104px;
}

.upper-part__img-colection {
    width: 75.6px;
    margin-bottom: 24px;
}

.upper-part__img:not(:last-child) {
    margin-bottom: 23px;
}

.upper-part__img img {
    width: 68px;
    height: 68px;
    border-radius: 9px;
    display: flex;
    justify-self: center;
} 

.upper-part__img--border-radius {
    width: 72px;
    height: 72px;
    border: 1px solid #3C4242;
    border-radius: 12px;
}

.upper-part__scroll {
    padding-left: 27px;
}

.upper-part__scroll img{
    width: 21px;
    height: 21px;
}

/* ----------------- main-photo ----------------- */

.upper-part__main-photo {
    display: inline-block;
    vertical-align: top;
    width: 520px;
    height: 785px;
}