@import url(reset.css);

@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

.wraper{
    width: 1000px;
    padding: 50px;
}

header {
    margin-bottom: 300px;
}

.header-main {
    width: 900px;
}
.header-main__menu {
    width: 500px;
    background-color: aqua;
    padding: 25px;
    text-align: center;
    font-size: 0;
}

/* ----------- першорівневе меню ------------- */

.header-main__menu-items li {
    display: inline-block;
    font-family: "Inter";
    font-size: 20px;
    font-weight: 700;
}

.header-main__menu-items li:not(:last-child) {
    margin-right: 50px;
}

.header-main__menu-items li:hover {
    display: inline-block;
    font-family: "Inter";
    font-size: 20px;
    font-weight: 700;
    background-color: cadetblue;
}

/* ----------- другорівневе меню ------------- */

.position-relactive {
    height: 50px;
    background-color: blue;
    position: relative;
    top: 300px;
    left: 50%;
    z-index: 1;
}

.position-absolute {
    width: 700px;
    height: 50px;
    background-color: red;
    position: absolute;
    top: 450px;
    left: 0;
}

.position-fixed {
    width: 700px;
    height: 50px;
    background-color: green;
    position: fixed;
    top: 400px;
    left: 50px;
    z-index: 2;
}

.position-sticky__block {
    width: 700px;
    height: 50px;
    background-color: aqua;
    position: sticky;
    top: 0px;
}

.position-sticky__block--color-violet {
    background-color:violet;
}

.position-sticky__block--color-cadetblue {
    background-color:cadetblue;
}

.position-sticky__text {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    padding: 15px;
}
