@import url(reset.css);

/* =================== ПІДКЛЮЧЕННЯ ШРИФТІВ ================ */
@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:regular,600,700&display=swap");
@import url(fonts.css);



.body {
    width: 1920px;
    background-color: bisque;
}

p {
    font-family: "Inter";
    font-size: 18px;
    color: #7d7d7d;
    line-height: 1.47;
}

h1,
h2,
h3,
h4 {
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 600;
    color: #37393F;
    line-height: 1.27;
}

/* ====================== TASK ONE ======================== */
.task-one,
.task-two {
    width: 1200px;
    margin: 0 auto 100px;
}

h1 {
    margin: 20px auto;
    text-align: center;
    text-transform: uppercase;
}

/* ================= PSEUDO-CLASS ==================== */

.pseudo-class {
    width: 843px;
    height: 150px;
    margin: 0 auto 25px;
    background-color: bisque;
    padding: 25px;
    font-size: 0;
}

.pseudo-class a {
    font-family: "Inter";
    font-weight: 600;
    font-size: 18px;
    color: #6B77E5;
}

.pseudo-class a:hover {
    text-decoration: underline;
}

/* ============= :hover ============ */

.hover-button {
    display: inline-block;
    width: 150px;
    height: 30px;
    border: 1px solid black;
    border-radius: 15px;
    text-align: center;
    vertical-align: top;
    margin-right: 10px;
}

.hover-button:hover {
    text-transform: uppercase;
    line-height: 1.5;
    background-color: rgb(187, 222, 59);
    border: 3px solid rgb(118, 133, 64);
}

.hover-button p:hover {
    color: yellow;
}

/* ============= :active ============ */

.active-button {
    display: inline-block;
    width: 150px;
    height: 30px;
    border: 1px solid black;
    border-radius: 15px;
    text-align: center;
    vertical-align: top;
    margin-right: 10px;
}

.active-button:active {
    text-transform: uppercase;
    line-height: 1.5;
    background-color: rgb(187, 222, 59);
    border: 3px solid rgb(118, 133, 64);
}

.hover-button p:active {
    color: yellow;
}

/* ============= :visitet ============ */

.visitet-sites {
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
}

.visitet-sites a {
    display: block;
    width: 150px;
    height: 30px;
    border: 1px solid black;
    border-radius: 15px;
    text-align: center;
    line-height: 1.47;
}

.visitet-sites a:not(:last-child) {
    margin-bottom: 5px;
}

.visitet-sites a:visited {
    color: blueviolet;
}

/* ============= :focus ============ */

.focus-button {
    display: inline-block;
    margin-right: 12.5px;
    vertical-align: top;
}

.focus-button a {
    display: block;
    width: 150px;
    height: 30px;
    border: 1px solid black;
    border-radius: 15px;
    text-align: center;
    line-height: 1.47;
}

.focus-button a:not(:last-child) {
    margin-bottom: 5px;
}

.focus-button a:focus {
    background-color: rgb(187, 222, 59);
}

/* ============= :target ============ */

.target-buttom {
    display: inline-block;
}

.box {
    margin-left: 30px;
}

.open-box {
    border-radius: 15px;
    text-align: center;
    line-height: 1.47;
    margin: 0 0 10px 25px;
}

.target-box {
    width: 100px;
    height: 300px;
    background-color: chocolate;
    border-radius: 15px;
    visibility: hidden;
}

.target-buttom a {
    border-radius: 15px;
    text-align: center;
    line-height: 1.47;
    margin: 0 0 10px 25px;
    text-align: center;
}

#target-box:target {
    visibility: visible;
}

/* ================= PSEUDO CLASESS OF POSITIONS IN THE CODE ==================== */

.Pseudo-subclasses-of-positions-in-the-code {
    width: 843px;
    height: auto;
    margin: 0 auto 25px;
    background-color: bisque;
    padding: 25px;
}

.Pseudo-subclasses-of-positions-in-the-code a {
    display: block;
    font-family: "Inter";
    color: #6B77E5;
    text-decoration: underline;
    margin-bottom: 10px;
    font-weight: 600;
    text-transform: uppercase;
}

.Pseudo-subclasses-of-positions-in-the-code a:hover {
    color: #000000;
}

.Pseudo-subclasses-of-positions-in-the-code > * {
    margin-bottom: 25px;    
}

.Pseudo-subclasses-of-positions-in-the-code p, span:not(:last-child) {
    margin-bottom: 10px;
}

.Pseudo-subclasses-of-positions-in-the-code p {
    font-weight: 600;
}

.Pseudo-subclasses-of-positions-in-the-code span {
    font-family: "inter";
    font-size: 18px;
    font-weight: 600;
    line-height: 1.47;
    color: #37393F;
    text-transform: uppercase;
}

/* ====================== :first-child / :last-child ===================== */

.first-last-child p {
    text-transform: capitalize;
    color: chocolate;
    text-decoration: underline;
}

.first-last-child p:first-child {
    color: #6B77E5;
    text-transform: none;
    text-decoration: none;
    text-shadow: blue 2px 2px 5px;
}

.first-last-child p:last-child {
    color: #11ff19;
    text-transform: none;
    text-decoration: none;
    text-shadow: rgb(31, 95, 51) -2px -2px 5px;
}

/* ===================== :first-of-type / :last-of-type====================== */

.first-last-of-type p {
    text-transform: capitalize;
    color: chocolate;
    text-decoration: underline;
}

.first-last-of-type p:first-of-type {
    color: #e40ef4;
    text-transform: none;
    text-decoration: none;
    text-shadow: rgb(47, 7, 34) 2px 2px 5px;
}

.first-last-of-type p:last-of-type {
    color: #c19615;
    text-transform: none;
    text-decoration: none;
    text-shadow: rgb(62, 44, 11) -2px -2px 5px;
}

/* ===================== :nth-child (nomber) ====================== */

.text-nth-child-nomber p {
    text-transform: capitalize;
    color: chocolate;
    text-decoration: underline;
}

.text-nth-child-nomber p:nth-child(2) {
    background-color: #11ff19;
}

.text-nth-child-nomber p:nth-last-of-type(3) {
    background-color: #10647b;
}

.text-nth-child-nomber p:nth-of-type(3) {
    background-color: #6ee0ff;
}

/* ===================== :nth (odd / even) ====================== */

.text-nth-child p {
    text-transform: capitalize;
    color: chocolate;
    text-decoration: underline;
}

.text-nth-child p:nth-child(odd) {
    background-color: #37393F;
}

.text-nth-child p:nth-child(even) {
    background-color: #7d7d7d;
}

/* ===================== Pseudo elements ==================== */

.pseudoelements {
    width: 550px;
    height: 150px;
    margin: 0 auto 25px;
    background-color: bisque;
    padding: 25px 25px 0 25px;
    font-size: 0;
}

.before li:not(:last-child) {
    margin-bottom: 10px;
}

.pseudoelements li::before {
    content: "";
    background-image: url(../img/Vector.svg);
    width: 27px;
    height: 27px;
    display: inline-block;
    margin-right: 10px;
}

.pseudoelements li::after {
    content: "";
    background-image: url(../img/Vector.svg);
    width: 27px;
    height: 27px;
    display: inline-block;
    margin-left: 10px;
}

.pseudoelements p {
    display: inline-block;
    vertical-align: top;
}

/* ====================== TASK TWO ======================== */

.game {
    width: 600px;
    height: 700px;
    background-image: url(../img/photos.jpg);
    background-size: cover;
    margin: 0 auto;
    opacity: 0.8;
    font-size: 0;
}

.start {
    width: 75px;
    height: 100px;
    background-color: #11ff19;
    display: inline-block;
    margin: 25px 0 0 25px;
}

.start p {
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 600;
    color: #000000;
    text-transform: uppercase;
    padding: 35px 10px;
    text-decoration: underline;
}

.line0 {
    display: inline-block;
        width: 20px;
        height: 30px;
        background-color: chocolate;
        vertical-align: middle;
}

.line1 {
    display: inline-block;
    width: 280px;
    height: 30px;
    background-color: chocolate;
    vertical-align: middle;
    opacity: 0;
}

.line1:hover {
    opacity: 1;
}

.line2 {
    display: block;
    width: 30px;
    height: 260px;
    background-color: chocolate;
    margin: -65px 0 0 370px;
    opacity: 0;
}
    
.line2:hover {
    opacity: 1;
}

.line3 {
    display: block;
    width: 100px;
    height: 30px;
    background-color: chocolate;
    margin: -30px 0px 0px 370px;
    opacity: 0;
}

.line3:hover {
    opacity: 1;
}

.line4 {
    display: block;
    width: 30px;
    height: 150px;
    background-color: chocolate;
    margin-left: 440px;
    margin-top: -150px;
    opacity: 0;
}

.line4:hover {
    opacity: 1;
}

.line5 {
    display: block;
    width: 130px;
    height: 30px;
    background-color: chocolate;
    margin: -150px 0 0 440px;
    opacity: 0;
}

.line5:hover {
    opacity: 1;
}

.line6 {
    display: block;
    width: 30px;
    height: 290px;
    background-color: chocolate;
    margin: -30px 0 0 540px;
    opacity: 0;
}

.line6:hover {
    opacity: 1;
}

.line7 {
    display: block;
    width: 30px;
    height: 200px;
    background-color: chocolate;
    margin: -20px 0 0 540px;
    opacity: 0;
}

.line7:hover {
    opacity: 1;
}

.line8 {
    display: block;
    width: 200px;
    height: 30px;
    background-color: chocolate;
    margin: -30px 0 0 370px;
    opacity: 0;
}

.line8:hover {
    opacity: 1;
}

.line9 {
    display: block;
    width: 270px;
    height: 30px;
    background-color: chocolate;
    margin: -30px 0 0 140px;
    opacity: 0;
}

.line9:hover {
    opacity: 1;
}

.line10 {
    display: block;
    width: 30px;
    height: 180px;
    background-color: chocolate;
    margin: -180px 0 0 140px;
    opacity: 0;
}

.line10:hover {
    opacity: 1;
}

.finish {
    width: 100px;
    height: 75px;
    background-color: #11ff19;
    display: block;
    margin-left: 105px;
    margin-top: -205px;
    opacity: 0;
}

.finish:hover {
    opacity: 1;
}

.finish p {
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 600;
    color: #000000;
    text-transform: uppercase;
    padding: 25px 20px;
    text-decoration: underline;
}

/* ====================== TASK THREE ======================== */

/* ================= consultic busines maket ================== */

.busines {
    width: 692px;
    margin: 0 auto 45px;
}

/* ----------------------- first-block ---------------------- */

.first-block {
    margin-bottom: 42px;
}

.first-block h2,
.last-block h2 {
    font-size: 30px;
    line-height: 1.27;
    margin-bottom: 3px;
}

/* ----------------------- second block --------------------- */

.second-block {
    margin-bottom: 50px;
}

.second-title {
    margin-bottom: 40px;
}

.second-title h3 {
    color:  #6B77E5;
    margin-bottom: 12px;
}

.second-main {
    font-size: 0;
}

.images {
    width: 330px;
    display: inline-block;
    vertical-align: top;
    margin-right: 29px;
}

.images img {
    width: 100%;
}

.second-content {
    display: inline-block;
    width: 330px;
}   

.content-title {
    margin-bottom: 21px;
}

.content-title h2 {
    font-size: 25px;
    margin-bottom: 15px;
}

.content-title h3 {
    color: #40DDB6;
}

.content-list li::before {
    content: "";
    background-image: url(../img/Vector.svg);
    width: 27px;
    height: 27px;
    display: inline-block;
    margin-right: 8px;
}

.content-list li:not(:last-child) {
    margin-bottom: 30px;
}

/* ------------------------ last block -----------  ----------- */

.content-list p {
    display: inline-block;
    vertical-align: top;
}

/* ================= consultic WhiteCollar maket ================== */

.WhiteCollar {
    width: 1920px;
    height: 100%;
    margin: 0 auto 138px;
    font-size: 0;
}

.collar-content {
    width: 100%;
    height: 100%;
    margin-bottom: 150px;
}

/* ========================== images-content =================== */

.images-content {
    width: 826px;
    padding: 151px 52px;
    background-color: #F4F4F4;
    display: inline-block;
}

.image-container-box {
    width: 722px;
    padding-left: 298px;
    font-size: 0;
}

.images-container_image {
    width: 424px;
    margin-bottom: 22px;
}

.images-container_image img {
    width: 100%;
}

.images-content-left h2 {
    font-size: 30px;
    line-height: 1.21;
    margin-bottom: 13px;
}

.content-left_text {
    margin-bottom: 15px;
}

.images-container_link {
    display: inline-block;
    text-decoration: underline;
    color: #37393F;
}

.images-container_link p {
    color: #37393F;
    font-weight: 600;
}

.images-container_link p:hover {
    text-decoration: underline;
    color: #426ae2;
    font-weight: 600;
}

/* ========================== text-content =================== */

.text-content {
    width: 1090px;
    height: 100%;
    padding: 151px 350px 40px 69px;
    display: inline-block;
    vertical-align: top;
}

.text-container-box {
    width: 675px;
}

.whiteCollar-container-box {
    margin-bottom: 48px;
}

.first-box_title {
    width: 414px;
    margin-bottom: 10px;
}

.square {
    display: inline-block;
    margin-bottom: 16px;
}

.square p::before {
    content: "";
    background-color: #40DDB6;
    width: 12px;
    height: 12px;
    display: inline-block;
    vertical-align: top;
    margin: 3px 6px 3px 0;
}

.square p {
    color: #37393F;
    font-weight: 500;
    line-height: 1.23;
}

.first-box_title h2,
.process-titlie h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.21;
}

.first-box_text p {
    line-height: 1.56;
}

.first-box_text p:not(:last-child) {
    margin-bottom: 16px;
}

.container-buisnes-plan:not(:last-child) {
    margin-bottom: 31px;
}

.container-buisnes-plan {
    padding: 28px 39px;
    border: 1px solid #E3E3E3;
}

.content-vector {
    background-image: url(../img/Vector.svg);
    width: 27px;
    height: 27px;
    display: inline-block;
    vertical-align: top;
    margin-right: 19px;
}

.content-text {
    width: 548px;
    display: inline-block;
}

.content-text h3 {
    line-height: 1.50;
    margin-bottom: 12px;
    display: inline-block;
}

.container-last-box a {
    width: 200px;
    height: 65px;
    display: block;
    padding: 22px 35px;
    background-color: #6B77E5;
    color: #ffffff;
}

.box-buttom p {
    color: #ffffff;
    line-height: 1;
}

/* ========================== process =================== */

.process {
    width: 1220px;
    height: 100%;
    margin: 0 auto 138px;
}

.process-titlie {
    width: 283px;
    margin: 0 auto 41px;
}

.process-titlie p {
    text-align: center;
}

.process-content-box {
    width: 386px;
    height: 337px;
    display: inline-block;
}

.process-container {
    padding: 58px 43px;
    background-color:  #f4f4f4;
    text-align: center;
}

.process-content-box:not(:last-child) {
    margin-right: 31px;
}

.work-process-content_icon {
    width: 72px;
    height: 72px;
    margin: 0 0 -36px 157px;
}

.title-content_box h4 {
    font-size: 25px;
    margin-bottom: 16px;
}

.text-content_box {
    margin-bottom: 37px;
}

.work-process-content_link p {
    color: #6B77E5;
    text-decoration: underline;
}

.work-process-content_link p:hover {
    color: #2e03cb;
    text-decoration: underline;
}

.work-process-content_link {
    display: inline-block;
}

/* ========================= jewellery МАКЕТ ============================ */

.jewellery {
    width: 1300px;
    margin: 0 auto 50px;
    font-size: 0;
}

/* ====== jewellery-first-block ====== */

.jewellery-first-block {
    width: 493px;
    display: inline-block;
    margin: 150px 23px 0 0;
    vertical-align: top;
}

.jewellery-first-block h2 {
    color: #000000;
    font-family: "Cormorant Infant";
    font-size: 60px;
    font-weight: 700;
    line-height: 1.15;
    margin-bottom: 13px;
}

.jewellery-underlain {
    width: 68%;
    height: 3px;
    background-color: #78473B;
}

/* ====== jewellery-secon-block ====== */

.jewellery-secon-block {
    display: inline-block;
    margin: 32px 55px 0 0;
    vertical-align: top;
}

.secon-images {
    width: 334px;
    height: 381px;
    border: 1px solid #000000;
    margin-bottom: 34px;
}

.secon-images img {
    width: 334px;
    height: 381px;
    margin: 9px 0 0 10px;
}

.jewellery-text p:first-child {
    margin-bottom: 4px;
}

.jewellery-text p {
    color: #000000;
    font-family: "Cormorant Infant";
    font-size: 24px;
    font-weight: 700;
    line-height: 1.4;
}

/* ====== jewellery-last-block ====== */

.jewellery-last-block {
    display: inline-block;
    width: 339px;
}

.jewellery-last-block h3 {
    color: #000000;
    font-family: "Cormorant Infant";
    font-size: 46px;
    font-weight: 700;
    line-height: 1.13;
    margin-bottom: 31px;
}