@import url(reset.css);

/* =================== ПІДКЛЮЧЕННЯ ШРИФТІВ ================ */
@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:regular,600,700&display=swap");


.body {
    width: 1920px;
    background-color: bisque;
}

p {
    font-family: "Inter";
    font-size: 18px;
    color: #7d7d7d;
}

h1 {
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 600;
    color: #37393F;
}

/* ====================== TASK ONE ======================== */
.task-one{
    width: 1200px;
    margin: 0 auto 100px;
}

h1 {
    margin: 20px auto;
    text-align: center;
    text-transform: uppercase;
}

.pseudo-class {
    width: 843px;
    margin: 0 auto 0px;
    background-color: bisque;
    padding: 25px;
    font-size: 0;
}

.pseudo-class a {
    font-family: "Inter";
    font-weight: 600;
    font-size: 18px;
    color: #6B77E5;
    text-transform: capitalize;
}

.pseudo-class a:hover {
    text-decoration: underline;
}

/* ============= :hover ============ */

.hover-button {
    display: inline-block;
    width: 150px;
    height: 30px;
    border: 1px solid black;
    border-radius: 15px;
    text-align: center;
    line-height: 1.47;
    vertical-align: top;
    margin-right: 10px;
}

.hover-button:hover {
    text-transform: uppercase;
    line-height: 1.5;
    background-color: rgb(187, 222, 59);
    border: 3px solid rgb(118, 133, 64);
}

.hover-button p:hover {
    color: yellow;
}

/* ============= :active ============ */

.active-button {
    display: inline-block;
    width: 150px;
    height: 30px;
    border: 1px solid black;
    border-radius: 15px;
    text-align: center;
    line-height: 1.47;
    vertical-align: top;
    margin-right: 10px;
}

.active-button:active {
    text-transform: uppercase;
    line-height: 1.5;
    background-color: rgb(187, 222, 59);
    border: 3px solid rgb(118, 133, 64);
}

.hover-button p:active {
    color: yellow;
}

/* ============= :visitet ============ */

.visitet-sites {
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
}

.visitet-sites a {
    display: block;
    width: 150px;
    height: 30px;
    border: 1px solid black;
    border-radius: 15px;
    text-align: center;
    line-height: 1.47;
}

.visitet-sites a:not(:last-child) {
    margin-bottom: 5px;
}

.visitet-sites a:visited {
    text-decoration: underline;
    color: blueviolet;
}

/* ============= :focus ============ */

.focus-button {
    display: inline-block;
    margin-right: 12.5px;
    vertical-align: top;
}

.focus-button a {
    display: block;
    width: 150px;
    height: 30px;
    border: 1px solid black;
    border-radius: 15px;
    text-align: center;
    line-height: 1.47;
}

.focus-button a:not(:last-child) {
    margin-bottom: 5px;
}

.focus-button a:focus {
    background-color: rgb(187, 222, 59);
    border: 3px solid rgb(118, 133, 64);
}

/* ============= :target ============ */

.target-button {
    display: inline-block;
    width: 150px;
    height: 30px;
    border: 1px solid black;
    border-radius: 15px;
    text-align: center;
    line-height: 1.47;
}

/* ====================== TASK TWO ======================== */

/* ====================== TASK THREE ======================== */