@import url("reset.css");

* {
    margin: 5px;
}

a:hover {
    text-decoration: underline;
    color: chocolate;
}

ol li {
    list-style-type: number;
}

h2 {
    text-transform: uppercase;
    font-weight: bold;
}

h3 {
    text-decoration: underline;
}

h4 {
    margin-left: 35px;
}

ul li {
    list-style-type: disc;
}

li {
    margin-left: 40px;
}

/* домашнє завдання */

div {
    color: black;
}

.entry {
    color: cadetblue;
}

[href] {
    color:blue;
}

/* #contents-two {
    color: aqua;
} */