/* ===================== Скидання стилів ================== */
@import url(reset.css);

/* ======================= Шрифты ========================= */
@import url("https://fonts.googleapis.com/css?family=Inter:regular,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:regular,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cormorant+Infant:regular,700&display=swap");

@import url(fonts.css);

body {
    width: 1440px;
}

p {
    font-family: "Inter";
    font-size: 18px;
    font-weight: 400;
    line-height: 1.47;
    color: #7d7d7d;
}

span {
    color: #40ddb6;
}

h2,
h3 {
    font-family: "Poppins";
    font-size: 40px;
    font-weight: 700;
    line-height: 1.21;
    color: #37393f;
}

h3 {
    font-size: 30px;
    line-height: normal;
}

/* ================ макет Licencing ================ */

.licensing {
    width: 1218px;
    margin: 150px auto;
}

.Information {
    width: 296px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 70px;
}

.introduction {
    font-size: 0;
    margin-bottom: 16px;
}

.square {
    width: 12px;
    height: 12px;
    background-color: #40ddb6;
    display: inline-block;
    margin-right:  6px;
    line-height: 1;
}

.first-text {
    display: inline-block;
}

.first-text h4 {
    font-family: "Inter";
    font-size: 18px;
    font-weight: 500;
}

h1 {
    font-family: "Poppins";
    font-size: 60px;
    font-weight: 700;
    line-height: 1.21;
    color: #37393f;
}

.graphics,
.photography {
    margin-bottom: 100px;
}

.licensing h2{
    margin-bottom: 11px;
}

.graphics p {
    margin-bottom: 32px;
}

.photography p {
    margin-bottom: 24px;
}

.photography p:last-child {
    margin-bottom: 0;
}

h3 {
    margin-bottom: 8px;
}

