/* ===================== Скидання стилів ================== */
@import url(reset.css);

/*=========================== Шрифти ========================*/
@import url("https://fonts.googleapis.com/css?family=Poppins:regular,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter:regular,500&display=swap");

@import url(fonts.css);

body {
    width: 1500px;
    background-color: rgb(250, 243, 235);
}

p {
    font-family: "inter";
    line-height: 1.47;
    color: #7d7d7d;
    font-size: 18px;
}

h1,
h2,
h3 {
    color: #37393f;
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 600;
}


.welcom span,
.latest-projectse span {
    width: 12px;
    height: 12px;
    background-color: #40ddb6;
    margin-right: 6px;
    display: inline-block;
}

/*  =============== Макет Whitecollar ==================== */
.whiteCollar {
    width: 675px;
    margin: 151px 350px 40px 69px;
}

.welcom {
    width: 413px;
    margin-bottom: 10px;
}

.welcom p {
    line-height: 1;
    text-transform: capitalize;
    margin-bottom: 16px;
}

h1 {
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1.21;
}

.business-text p:not(:last-child) {
    margin-bottom: 16px;
}

.business,
.business-target {
    margin-bottom: 48px;
}

.target {
    padding:28px 38px 28px 41px;
}

.container {
    display: inline-block;
    font-size: 0;
    border: 1px solid #e3e3e3;
}

.container:not(:last-child) {
    margin-bottom: 31px;
}

.vector {
    background-image: url(../img/Vector.png);
    width: 27px;
    height: 27px;
    display: inline-block;
    margin-right: 19px;
    vertical-align: top;
}

.container-text {
    display: inline-block;
    width: 546px;
}

.container h2 {
    text-transform: capitalize;
    line-height: 1.5;
}

.container p {
    font-size: 18px;
}

.business-button {
    width: 200px;
    height: 65px;
    background-color: #6b77e5;
    padding: 21px 35px 22px;
    display: inline-block;
}

.business-button p {
    text-transform: capitalize;
    color: #fff;
    text-align: center;
}

/* ======================= макет project ======================== */

.projects {
    width: 1220px;
    margin: 0 auto 150px;
    font-size: 0;
}

.first-line {
    margin-bottom: 58px;
}

.discover {
    width: 852px;
    margin: 0 auto 41px;
}

.latest-projectse p {
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 14px;
}

.discover h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.21;
    text-align: center;
    margin-bottom: 14px;
}

.discover-text p {
    text-align: center;
}

.projects-container {
    width: 384px;
    display: inline-block;
}

.projects-container:not(:last-child) {
    margin-right: 31px;
}


.financial-investment {
    background-image: url(../img/Financial\ Investment.jpg);
    height: 502px;
    background-size: cover;
    margin-bottom: 24px;
}

.marketing-strategy {
    background-image: url(../img/Marketing\ Strategy.jpg);
    height: 502px;
    background-size: cover;
    margin-bottom: 24px;
}

.business-consulting {
    background-image: url(../img/Business\ Consulting.jpg);
    height: 502px;
    background-size: cover;
    margin-bottom: 24px;
}

.financial-investmentt {
    background-image: url(../img/Financial\ Investmentt.jpg);
    height: 502px;
    background-size: cover;
    margin-bottom: 24px;
}

.web-development {
    background-image: url(../img/Web\ Development.jpg);
    height: 502px;
    background-size: cover;
    margin-bottom: 24px;
}

.photocofe{
    background-image: url(../img/PhotoCofe.jpg);
    height: 502px;
    background-size: cover;
    margin-bottom: 24px;
}

.projects h3 {
    line-height: 1.27;
    margin-bottom: 10px;
}

.grop img {
    width: 22px;
    height: 22px;
    display: inline-block;
}

.notebook {
    display: inline-block;
    vertical-align: top;
    margin-right: 4px;
}

.date {
    display: inline-block;
}

.date p {
    font-size: 14px;
    line-height: 1.62;
}

/* ====================== макет euphoria ====================== */

.euphoria {
    width: 1240px;
    margin: 0 auto 100px;
    font-size: 0;
}

.euphoria-cub {
    width: 6px;
    height: 28px;
    background-color: #8A33FD;
    display: inline-block;
    border-radius: 10px;
    margin-right: 15px;
}

.euphoria-title {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 30px;
}

.euphoria-title h3 {
    font-family: "Core Sans C 65";
    font-size: 28px;
    font-weight: 650;
    color: #3C4242;
}

.euphoria-text-first,
.euphoria-text-second,
.see-more p {
    font-size: 20px;
    padding-left: 21px;
    color: #807d7e;
    line-height: 1.67;
    letter-spacing: 0.4px;
}

.euphoria-text-first {
    margin-bottom: 25px;
}

.euphoria-text-second {
    margin-bottom: 20px;
}

.euphoria h4 {
    font-family: "Core Sans C 65";
    font-weight: 650;
    margin-bottom: 25px;
}

.euphoria-text-first p {
    font-family: "Causten";
    font-style: 20px;
}

.euphoria p:not(:last-child) {
    margin-bottom: 20px;
}

.euphoria span {
    font-weight: 700;
}

.see-more p {
    font-weight: 600;
}

/* ================= макет unsplash ===================*/

.unsplash {
    width: 1228px;
    margin: 0 auto 50px;
    font-size: 0;
}

.left-container {
    width: 614px;
    height: 640px;
    background-image: url(../img/unsplash.jpg);
    background-size: cover;
    display: inline-block;
    vertical-align: top;
}

.left-container-block {
    padding: 183px 74px 174px;
}

.left-container-block h3 {
    font-family: "Core Sans C 85";
    font-size: 34px;
    font-weight: 800;
    line-height: 1.47;
    letter-spacing: 0.2px;
    color: #fff;
    text-transform: uppercase;
    width: 466px;
    margin-bottom: 30px;
}

.block-text p {
    font-family: "Causten";
    font-weight: 300;
    letter-spacing: 1px;
    color: #fff;
}

.right-container {
    width: 614px;
    height: 640px;
    background-image: url(../img/Rectangle\ 13.jpg);
    background-size: cover;
    display: inline-block;
    border-radius: 0 15px 15px 0;
}

/* ================ homework =================== */

.bg-image {
    background-image: url(../img/Business\ Consulting.jpg);
    height: 700px;
    background-repeat: repeat-x;
}

.bg-position {
    background-image: url(../img/Financial\ Investment.jpg);
    height: 1400px;
    background-repeat: no-repeat;
    background-position: center right;
}

.bg-attachment {
    background-image: url(../img/Financial\ Investmentt.jpg);
    height: 1400px;
    background-repeat: no-repeat;
    background-position: bottom left;
    background-attachment: fixed;
}

.bg-size-container {
    height: 700px;
    background-image: url(../img/Marketing\ Strategy.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.bg-full {
    height: 1000px;
    background: coral url(../img/Rectangle\ 13.jpg) 50% /700px 500px no-repeat; 
}