/* Homework Part 1 */

/* ======================================== ШРИФТИ ======================================== */

/* ---------------------------------- Підключення шрифтів --------------------------------- */

/* Googl Fonts */
@import url("https://fonts.googleapis.com/css?family=Inter:400,500&display=swap");



/* Підключення вручну */
@import url(fonts.css);

/* Скидання стилів */
@import url(reset.css);

body {
    font-family: "inter", sans-serif;
    font-size: 18px;
    color: #7d7d7d;
    line-height: 146.187%;
}

header {
    text-align: center;
}

h1,
.title p {
    font-family: "Poppins", fantasy;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    color: coral;
    text-shadow: 5px 5px 7px rgb(201, 22, 22);
}

img {
    height: 300px;
    box-shadow: 5px 5px  7px #d02706;
}

mark {
    font-family: "Core Sans C", monospace ;
    color: coral;
    font-weight: 600;
    line-height: 1.5;
    font-style: oblique;
}

h2,
.content li {
    font-family: "Popins", cursive;
    text-decoration: underline;
    font-weight: 600;
    font-size: 30px;
    color: #3a04fd;
    text-shadow: 3px 3px 5px #bb04fd;    
}

.text-history p {
    font-family: "Core Sans C", serif;
    color: black;
    font-style: oblique;
    text-align: right;
    text-transform: capitalize;
    line-height: 1.5;
    text-shadow: 3px 3px 5px #7d7d7d, 2px -3px 5px red;
}

.text-description p,
.text-care p{
    font-family: "Core Sans C", sans-serif;
    font-weight: 500;
    font-size: 25px;
    font-style: italic;
    text-align: justify;
    text-decoration: overline;
    text-transform: lowercase;
    white-space: nowrap;
    text-shadow: 3px 4px 5px, -2px 3px 5px;
}

.text-care p {
    text-decoration: none;
    text-transform: none;
    letter-spacing: 2px;
    white-space: normal;
}

.text-nature p {
    font-family: "Core Sans C", sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-decoration: line-through;
    text-shadow: 3px 3px 5px #bb04fd, 2px -2px 4px #fd04ae;
}

.text p {
    text-indent: 60px;
    word-spacing: 30px;
    text-shadow: 3px 3px 7px yellowgreen;
}

h3,
h4,
h5 {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 30px;
    line-height: 127%;
    color: #37393f;
}

h4 {
    font-size: 20px;
    color: #6b77e5;
}

.container li {
    font-weight: 500;
    text-indent: 16px;
}

h5 {
    font-size: 40px;
    font-weight: 700;
}